@use "./variables" as v;

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-style: normal;

  font-weight: 400;
  color: v.$color-text;
  background-color: v.$color-general;
  background-image: radial-gradient(#c5c5c5 1px, transparent 0); /* Creates 1px semidark dots */
  background-size: 20px 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}